<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<!-- 	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="public/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>

	<title>Richard Wang</title>
</head>
<body>
	<div class="container-fluid"> <!-- responive container -->
		
		<div class = "panel1 center">
			<div class = "navbar dark">
				About
			</div>

			This is the panel
		</div>

		<h3>Hi!</h3>
		<h5>My name is Richard, and this is my personal website</h5>
	</div>
</body>
</html>