<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>		<!-- jquery -->


	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>

	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

	<link rel="shortcut icon" href="/css/favicon.png" />


	<title>Richard Wang</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="115">
	<div class="container-fluid"> <!-- responive container -->
		<div id="home" class = "panel1">

			<nav class = "navbar navbar-default navbar-fixed-top dark">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#home" class="navbar-brand smooth">Richard Wang</a>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="nav-link smooth" href="#about">About</a></li>
						<li><a class="nav-link smooth " href="#portfolio">Portfolio</a></li>
						<li><a class="nav-link smooth" href="#contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<h1 class = "title center dark" style="font-size: 40px">
				Hi, my name is <div class="fredericka" style="color:yellow; font-size: 60px; ">Richard</div>
			</h1>

			<h1 class = "center dark icons">
				<hr style="width: 130px">
				<a href="https://www.linkedin.com/in/rkwang/" target="_blank"><i class="link fa fa-linkedin"></i></a>
				<a href="mailto:richard.w.phs@gmail.com"><i class="link fa fa-envelope"></i></a>
            	<a href="https://github.com/rwang99" target="_blank"><i class="link fa fa-github"></i></a>
			</h1>

		</div>

		<div id="about" class = "panel-light">
			<div class = "center light">

				<h3 style="color:#00A6FB"> Student at University of Maryland: College Park </h3>
				<h4>
					B.S. Computer Science '21 
				</h4>

				What I like to do, my passions, skills
			</div>
		</div>


		<div id = "portfolio" class="panel-dark">
			<h4>
				content here:

				list "minipanels" showcasing work
			</h4>

			<div class = "display-card">
				<img src="css/testudo.jpg" alt="Testudo" style="height:100%; float=left">

				UMD
			</div>
			
			<br></br>
		</div>
		<div id="contact" class = "panel-light">
			<div class = "center light">
				<h4>
					This is the panel
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					<br></br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<br></br>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					<br></br>
				</h4>
			</div>
		</div>
		<div class = "dark footer center">
			This is the footer! Hurrah! <br><br>

			Links to all sections of the page on the left. <br>
			About the site to the right.<br>
			Github link to the page also to the right.
		</div>
	</div>

	<script type="text/javascript" src="/js/scroll.js"></script>

</body>
</html>